<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue in laravel</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" id="chk" value="ball">
        <button onclick="doTest()">test</button>
    </div>

</body>
<script>
    function doTest() {
        var chk=document.getElementById('chk');
        console.log(chk.checked);
        var foo,bar=null;
        foo = {
            setBar: function (value) {
                bar = value;
            }
        };
        foo.setBar(12);
        console.log(bar);
    }
</script>
</html>